/*CSS-reset*/
* { padding: 0; margin: 0; }
/****/

header {
}
aside {
}

article {
}
footer {
}
.inline-block {
    display: inline-block;
    vertical-align: top;
}
.display-none {
    display: none;
}

.button_margin {
    margin: 5px 0;
}
.width-correction
{
    width: 211px;
}