<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
         version="2.4">

  <display-name>Archetype Created Web Application</display-name>

    <!--Servlets-->
    <servlet>
        <servlet-name>SignUpServlet</servlet-name>
        <servlet-class>com.tsystems.javaschool.webshop.servlets.SignUpServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SignUpServlet</servlet-name>
        <url-pattern>/signup</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SignInServlet</servlet-name>
        <servlet-class>com.tsystems.javaschool.webshop.servlets.SignInServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SignInServlet</servlet-name>
        <url-pattern>/signin</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>LogOutServlet</servlet-name>
        <servlet-class>com.tsystems.javaschool.webshop.servlets.LogOutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogOutServlet</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SaveProfileServlet</servlet-name>
        <servlet-class>com.tsystems.javaschool.webshop.servlets.SaveProfileServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SaveProfileServlet</servlet-name>
        <url-pattern>/profile</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ProductPageServlet</servlet-name>
        <servlet-class>com.tsystems.javaschool.webshop.servlets.ProductPageServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProductPageServlet</servlet-name>
        <url-pattern>/product/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>CategoryServlet</servlet-name>
        <servlet-class>com.tsystems.javaschool.webshop.servlets.CategoryServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CategoryServlet</servlet-name>
        <url-pattern>/category/*</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>CartServlet</servlet-name>
        <servlet-class>com.tsystems.javaschool.webshop.servlets.CartServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CartServlet</servlet-name>
        <url-pattern>/cart</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>CheckoutServlet</servlet-name>
        <servlet-class>com.tsystems.javaschool.webshop.servlets.CheckoutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CheckoutServlet</servlet-name>
        <url-pattern>/checkout</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>MainBackenServlet</servlet-name>
        <servlet-class>com.tsystems.javaschool.webshop.servlets.backend.MainBackendServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MainBackenServlet</servlet-name>
        <url-pattern>/backend</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>CategoryBackendServlet</servlet-name>
        <servlet-class>com.tsystems.javaschool.webshop.servlets.backend.CategoryBackendServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CategoryBackendServlet</servlet-name>
        <url-pattern>/backend/categories</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ProductBackendServlet</servlet-name>
        <servlet-class>com.tsystems.javaschool.webshop.servlets.backend.ProductBackendServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProductBackendServlet</servlet-name>
        <url-pattern>/backend/products</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>FeaturesBackendServlet</servlet-name>
        <servlet-class>com.tsystems.javaschool.webshop.servlets.backend.FeaturesBackendServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FeaturesBackendServlet</servlet-name>
        <url-pattern>/backend/features</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ErrorHandlerServlet</servlet-name>
        <servlet-class>com.tsystems.javaschool.webshop.servlets.ErrorHandlerServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ErrorHandlerServlet</servlet-name>
        <url-pattern>/err</url-pattern>
    </servlet-mapping>

    <error-page>
        <error-code>404</error-code>
        <location>/err</location>
    </error-page>

    <error-page>
        <exception-type>java.lang.Throwable</exception-type>
        <location>/err</location>
    </error-page>

    <!--Filters-->
    <filter>
        <filter-name>CookieCheckFilter</filter-name>
        <filter-class>com.tsystems.javaschool.webshop.servlets.filters.CookieCheckFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>CookieCheckFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>RedirectFilter</filter-name>
        <filter-class>com.tsystems.javaschool.webshop.servlets.filters.RedirectFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>RedirectFilter</filter-name>
        <url-pattern>/*</url-pattern>

    </filter-mapping>

    <!--Listeners-->
    <listener>
        <listener-class>com.tsystems.javaschool.webshop.servlets.WebShopContextListener</listener-class>
    </listener>
</web-app>
