/*CSS-reset*/
* { padding: 0; margin: 0; }
/****/

header {
    background-color: #acd6dd;
}
aside {
    background-color: #d2d0cf;
}
article {
    background-color: #ddbdb8;

}
footer {

    background-color: #c9ddbb;
}
.inline-block {
    display: inline-block;
    vertical-align: top;
}